{% extends "base.html" %}

{% block body %}
    <form method="POST" action="">
        <p>Create Task Data Table:</p>
        <div class="form-group">
            <label >Table Name</label>
            <input type="text" name="tname" class="form-control">
            <label >Display Name</label>
            <input type="text" name="dname" class="form-control">
            <label >Table Description</label>
            <input type="text" name="tdesc" class="form-control">
            <label >Minimum Upload Cycle</label>
            <input type="text" name="minupcyc" class="form-control">
            <input type="button" value="Add New Column.." class="form-control">
        </div>

        <div class="form-group">
        <p>Create Raw Data Type Table:</p>
            <label >Table Name</label>
            <input type="text" name="otname" class="form-control">
            <label >Display Name</label>
            <input type="text" name="odname" class="form-control">
            <label >Mapping SQL Statement</label>
            <input type="text" name="mappingsql" class="form-control">
        </div>
        <input type="button" value="Add Another Raw Data Type.." class="form-control">

        <input type="submit" value="Create!" class="form-control">

    </form>
{% endblock body %}